@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container {
  position: relative;
}

.flexRow {
  display: flex;
}

.add_btn {
  margin: 10px 0;
}

.account {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 26px;
}

.serviceIcon {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.sidebar {
  min-height: calc(100vh - 50px);
  max-height: 100%;
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  max-width: 50px;
  min-width: 50px;
  hr { margin: 0; }
  ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    a,a:visited {
      color: $navbar-inverse-link-color;
    }
    a:hover {
      color: $navbar-inverse-link-hover-color;
    }
    li {
      padding: 10px 0;
      transition: color 0.5s;
      font-size: 20px;
      text-align: center;
    }
    li:hover {
      padding: 10px 0;
      color: $navbar-inverse-link-hover-color;
      background: #444;
      transition: color 0.5s;
      pointer: cursor;
    }
    ul {
      padding-left: 14px;
    }
  }
}

.header {
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  height: 50px;
  text-align: right;
  padding: 0;
  padding-right: 15px;
  img {
    height: 50px;
    float: left;
  }
  .headerItem {
    display: inline-block;
    color: $navbar-inverse-color;
    line-height: 15px;
    font-size: 15px;
    padding: 17.5px 15px;
    cursor: pointer;
  }
  .headerItem:hover {
    display: inline-block;
    color: $navbar-inverse-link-hover-color;
    transition: color 0.5s;
  }
  .headerItem:hover * {
    color: $navbar-inverse-link-hover-color;
    transition: color 0.5s;
  }
  .headerItem * {
    color: $navbar-inverse-color;
  }
}

.main {
  padding: 0;
  width: calc(100vw - 50px);
}

.fixBottom {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 10px;
}
