.container {
  padding: 0;
}

.header {
  background: #eee;
  h3 {
    margin: 0;
    padding: 26px;
    float: left;
    line-height: 26px;
  }
  .nav {
    padding: 20px;
    float: left;
  }
}

.tableContainer {
  overflow: scroll;
  margin-top: 25px;
  table {
    td {
      vertical-align: middle !important;
    }
  }
}

.readyIcon {
  color: green;
}
